# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
env.bak/
env1/
venv1/

# IDE-specific files
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Compiled Python files
*.pyc
*.pyo

# Python cache
__pycache__/

# Jupyter Notebooks
.ipynb_checkpoints

# Pipenv
Pipfile.lock
Pipfile.lock.json

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.ebextensions/
.env.local
.env.*.local

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# profiling data
profile_*

# PyInstaller
/dist
/build

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# pytest
.pytest_cache/

# virtualenv
.venv/
venv/
ENV/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints/
